<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common.html :: head"></head>
<body>
    <nav th:replace="fragments/common.html
        :: navClass(class='navbar navbar-expand-lg navbar-dark navbar-custom bg-danger')">
    </nav>

    <div class="container mb-4 text-center">
        <div id="timer" class="container">
            <div class="justify-content-center">
                <nav>
                    <div class="nav nav-tabs justify-content-center border-0" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link border-0 active" id="nav-work-time-tab" data-toggle="tab" href="#nav-work-time" role="tab" aria-controls="nav-work-time" aria-selected="true">Work time</a>
                        <a class="nav-item nav-link border-0" id="nav-sbrake-tab" data-toggle="tab" href="#nav-sbrake" role="tab" aria-controls="nav-sbrake" aria-selected="false">Short brake</a>
                        <a class="nav-item nav-link border-0" id="nav-lbrake-tab" data-toggle="tab" href="#nav-lbrake" role="tab" aria-controls="nav-lbrake" aria-selected="false">Long brake</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent" th:with="workPeriodTime=${timerSettings.workPeriodTime}, shortBrakeTime=${timerSettings.shortBrakeTime}, longBrakeTime=${timerSettings.longBrakeTime}">
                    <h1 class="values display-1 font-weight-bold tab-pane fade show active" id="nav-work-time" role="tabpanel" aria-labelledby="nav-work-time-tab"
                        th:text="(${workPeriodTime} < 10 ? 'O' : '') + ${workPeriodTime} + ':00'">...</h1>
                    <h1 class="values display-1 font-weight-bold tab-pane fade" id="nav-sbrake" role="tabpanel" aria-labelledby="nav-sbrake-tab"
                        th:text="(${shortBrakeTime} < 10 ? 'O' : '') + ${workPeriodTime} + ':00'">...</h1>
                    <h1 class="values display-1 font-weight-bold tab-pane fade" id="nav-lbrake" role="tabpanel" aria-labelledby="nav-lbrake-tab"
                        th:text="(${longBrakeTime} < 10 ? 'O' : '') + ${workPeriodTime} + ':00'">...</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="button" id="timerStartBtn" class="btn btn-outline-success col-2">Start</button>
                <button type="button" id="timerStopBtn" class="btn btn-outline-danger col-2">Stop</button>
            </div>
            <div class="row justify-content-center my-2">
                <button type="button" class="btn btn-outline-secondary timerSetupBtn col-2" data-toggle="modal" data-target="#timerSettingModal">
                    <i class="fa fa-cog mr-1"></i>Settings
                </button>
            </div>
        </div>
        <div class="container" th:if="${#lists.isEmpty(tasks)}">
            <div class="mt-5">
                <h5 class="font-weight-bold">Your Todoist list of tasks for today is empty!</h5>
                <span class="font-weight-bold">So just relax or add a new one:</span>
                <button type="button" class="btn btn-outline-dark"> <i class="fa fa-plus-circle"></i>Add new</button>
            </div>
        </div>
        <div class="container" th:unless="${#lists.isEmpty(tasks)}">
            <div class="mt-5">
                <span class="font-weight-bold">Your Todoist tasks for today:</span>
                <div>
                    <button type="button" class="btn btn-outline-dark"> <i class="fa fa-plus-circle"></i>Add new</button>
                </div>
                <div id="tasks">
                    <div class="card" th:each="task,iter : ${tasks}">
                        <div class="card-header p-1" th:id="'heading' + ${iter.index}">
                            <div class="ml-2 mb-0 text-left">
                                <input type="checkbox" class="align-middle" aria-label="Complete task">
                                <button th:text="${task.content}" class="btn btn-link collapsed " data-toggle="collapse" th:attr="data-target='#collapse'+${iter.index}, aria-controls='collapse'+${iter.index}" aria-expanded="true">
                                    TaskContent
                                </button>
                            </div>
                        </div>
                        <div th:id="'collapse' + ${iter.index}" class="collapse" th:attr="aria-labelledby='heading'+${iter.index}" data-parent="#tasks">
                            <div class="card-body">
                                Task settings
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/timer-settings.html :: timer-modal"></div>

    <div th:replace="fragments/timer-tab-modal.html :: change-timer-tab-modal"></div>

    <div th:if="${#lists.isEmpty(tasks)}">
        <footer th:replace="fragments/common.html :: footer"></footer>
    </div>

    <script>
        const workPeriodTime = [[${timerSettings.workPeriodTime}]];
        const shortBrakeTime = [[${timerSettings.shortBrakeTime}]];
        const longBrakeTime = [[${timerSettings.longBrakeTime}]];
    </script>
    <script th:src="@{/js/timer.js}"></script>
</body>
</html>