<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Todoist and Pomodoro technique integration.">
  <meta name="author" content="Aleh Kuchynski">

  <title>Pomodo</title>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/easytimer.min.js}"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link th:href="@{/css/main.css}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link th:href="@{/webjars/font-awesome/css/fontawesome.min.css}" rel="stylesheet" type='text/css'>
  <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet" type='text/css'>
</head>

<nav th:fragment="navClass(class)" th:class="${class}">
  <div class="container text-white">
    <a class="navbar-brand mb-0 h1" href="/">Pomodo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" th:with="dashboardLink=${'/dashboard'}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" th:if="${#authorization?.authentication == null || not #authorization?.authentication?.authenticated || #authorization?.expression('hasRole(''ROLE_ANONYMOUS'')')}">
          <a href="/oauth2/authorization/todoist" class="nav-link btn btn-light btn-block text-body">
            <img th:src="@{/img/todoist_logo.png}" width="30" height="30"/>
            <span class="hidden-xs hidden-sm align-middle">Login with <b>Todoist</b></span>
          </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link text-white" href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
          <form id="logout-form" action="/logout" method="post" type="hidden">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="py-3 bg-danger text-white text-center">
  <a class="d-block" href="https://github.com/kuchyale/pomodo">
    <img th:src="@{/img/github_logo.png}" style="height: 30px;">
  </a>
  <p>Created by <a href="mailto:o.kuchynski@gmail.com" class="text-decoration-none text-white">Aleh Kuchynski</a> &copy; 2020</p>
</footer>
